.pf01{
	width: 78px;
	height: 75px;
	background:url("pf01.png") no-repeat;
	background-size: cover;
	position: relative;
	left: 53%;
	top: 100px;
}
.pf02{
	width: 140px;
	height: 146px;
	background:url("pf02.png") no-repeat;
	background-size: cover;
	display: inline-block;	
	margin-left: 20%;
}
.pf03{
	width:231px;
	height: 287px;
	background: url("pf03.png") no-repeat;
	background-size: cover;
	margin-left: 40%;
	display: inline-block;

}
.jy{
	width: 136px;
	height: 229px;
	background: url("jy.png") no-repeat;
	background-size: cover;
	position: relative;
	left: 20%;
}
/*=======================动画*/
.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.animated.infinite {
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
}

.animated.hinge {
  -webkit-animation-duration: 2s;
  animation-duration: 2s;
}

.animated.flipOutX,
.animated.flipOutY,
.animated.bounceIn,
.animated.bounceOut {
  -webkit-animation-duration: .75s;
  animation-duration: .75s;
}
@-webkit-keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInLeftBig {
  from {
    opacity: 0;
    -webkit-transform: translate3d(-2000px, 0, 0);
    transform: translate3d(-2000px, 0, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInLeftBig {
  -webkit-animation-name: fadeInLeftBig;
  animation-name: fadeInLeftBig;
}

@keyframes rotate02{
	0% {
		transform:rotateX(-90deg);
	}

	80% {
		transform: rotateX(20deg);
	}

	90% {
		transform: rotate3d(-10deg);
	}

	100% {
		transform:rotateX(0deg);
	}
}

.rotate02{
	/*-webkit-animation-name: rotate02;
	animation-name: rotate02;*/
	animation: rotate02 .8s ease-in 0s 1 normal forwards;
	transform-origin:0px 225px;
}

@-webkit-keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    -webkit-transform: translate3d(0, 100%, 0);
    transform: translate3d(0, 100%, 0);
  }

  to {
    opacity: 1;
    -webkit-transform: none;
    transform: none;
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}