/*==============CSSreset===============*/
ol, ul {
	list-style: none;
}
/*===================动画====================*/
 @-webkit-keyframes flipover-top {
 0% {
 z-index: 8;
 background-color: #fff;
 -webkit-transform: rotateX(0);
}
 50% {
 z-index: 8;
 background-color: #efefef;
 -webkit-transform: rotateX(-90deg);
}
 51% {
 z-index: 7;
 opacity: 1;
}
 100% {
 z-index: 7;
 background-color: #fff;
 opacity: 0;
 -webkit-transform: rotateX(-180deg);
}
}
 @-moz-keyframes flipover-top {
 0% {
 z-index: 8;
 background-color: #fff;
 -moz-transform: rotateX(0);
}
 50% {
 z-index: 8;
 background-color: #efefef;
 -moz-transform: rotateX(-90deg);
}
 51% {
 z-index: 7;
 opacity: 1;
}
 100% {
 z-index: 7;
 background-color: #fff;
 opacity: 0;
 -moz-transform: rotateX(-180deg);
}
}
 @-ms-keyframes flipover-top {
 0% {
 z-index: 8;
 background-color: #fff;
 -ms-transform: rotateX(0);
}
 50% {
 z-index: 8;
 background-color: #efefef;
 -ms-transform: rotateX(-90deg);
}
 51% {
 z-index: 7;
 opacity: 1;
}
 100% {
 z-index: 7;
 background-color: #fff;
 opacity: 0;
 -ms-transform: rotateX(-180deg);
}
}
 @-o-keyframes flipover-top {
 0% {
 z-index: 8;
 background-color: #fff;
 -o-transform: rotateX(0);
}
 50% {
 z-index: 8;
 background-color: #efefef;
 -o-transform: rotateX(-90deg);
}
 51% {
 z-index: 7;
 opacity: 1;
}
 100% {
 z-index: 7;
 background-color: #fff;
 opacity: 0;
 -o-transform: rotateX(-180deg);
}
}
 @keyframes flipover-top {
 0% {
 z-index: 8;
 background-color: #fff;
 transform: rotateX(0);
}
 50% {
 z-index: 8;
 background-color: #efefef;
 transform: rotateX(-90deg);
}
 51% {
 z-index: 7;
 opacity: 1;
}
 100% {
 z-index: 7;
 background-color: #fff;
 opacity: 0;
 transform: rotateX(-180deg);
}
}
 @-webkit-keyframes flipover-bottom {
 0% {
 z-index: 7;
 background-color: #fff;
 -webkit-transform: rotateX(180deg);
}
 50% {
 z-index: 7;
 background-color: #efefef;
 -webkit-transform: rotateX(90deg);
}
 51% {
 z-index: 8;
}
 100% {
 z-index: 8;
 background-color: #fff;
 -webkit-transform: rotateX(0);
}
}
 @-moz-keyframes flipover-bottom {
 0% {
 z-index: 7;
 background-color: #fff;
 -moz-transform: rotateX(180deg);
}
 50% {
 z-index: 7;
 background-color: #efefef;
 -moz-transform: rotateX(90deg);
}
 51% {
 z-index: 8;
}
 100% {
 z-index: 8;
 background-color: #fff;
 -moz-transform: rotateX(0);
}
}
 @-ms-keyframes flipover-bottom {
 0% {
 z-index: 7;
 background-color: #fff;
 -ms-transform: rotateX(180deg);
}
 50% {
 z-index: 7;
 background-color: #efefef;
 -ms-transform: rotateX(90deg);
}
 51% {
 z-index: 8;
}
 100% {
 z-index: 8;
 background-color: #fff;
 -ms-transform: rotateX(0);
}
}
 @-o-keyframes flipover-bottom {
 0% {
 z-index: 7;
 background-color: #fff;
 -o-transform: rotateX(180deg);
}
 50% {
 z-index: 7;
 background-color: #efefef;
 -o-transform: rotateX(90deg);
}
 51% {
 z-index: 8;
}
 100% {
 z-index: 8;
 background-color: #fff;
 -o-transform: rotateX(0);
}
}
 @keyframes flipover-bottom {
 0% {
 z-index: 7;
 background-color: #fff;
 transform: rotateX(180deg);
}
 50% {
 z-index: 7;
 background-color: #efefef;
 transform: rotateX(90deg);
}
 51% {
 z-index: 8;
}
 100% {
 z-index: 8;
 background-color: #fff;
 transform: rotateX(0);
}
}
 @-webkit-keyframes fadein-from-bottom {
 0% {
 opacity: 0;
 -webkit-transform: translateY(300px);
}
 100% {
 opacity: 1;
 -webkit-transform: translateY(0);
}
}
 @-moz-keyframes fadein-from-bottom {
 0% {
 opacity: 0;
 -moz-transform: translateY(300px);
}
 100% {
 opacity: 1;
 -moz-transform: translateY(0);
}
}
 @-ms-keyframes fadein-from-bottom {
 0% {
 opacity: 0;
 -ms-transform: translateY(300px);
}
 100% {
 opacity: 1;
 -ms-transform: translateY(0);
}
}
 @-o-keyframes fadein-from-bottom {
 0% {
 opacity: 0;
 -o-transform: translateY(300px);
}
 100% {
 opacity: 1;
 -o-transform: translateY(0);
}
}
 @keyframes fadein-from-bottom {
 0% {
 opacity: 0;
 transform: translateY(300px);
}
 100% {
 opacity: 1;
 transform: translateY(0);
}
}

/*====================定位布局=================*/
#stage-1 .stage-content {

}
.stage-1-icon {
	width: 50px;
	height: 76px;
	padding: 0px;
	position: relative;
	display: inline-block;
	-webkit-perspective: 900px;
}
.stage-1-icon-top,.stage-1-icon-bottom {
	width: 50px;
	position: absolute;
	left: 0;
	background-color: #fff;
	background-repeat: no-repeat;
	-webkit-transform-style: preserve-3d;
	background-size: cover;
}
.stage-1-icon-top {
	height: 38px;
	top: 0;
	background-position: center 0px;
	-webkit-transform-origin: center bottom;
	-moz-transform-origin: center bottom;
	-ms-transform-origin: center bottom;
	-o-transform-origin: center bottom;
	transform-origin: center bottom
}
.stage-1-icon-bottom {
	height: 38px;
	top: 38px;
	background-position: center -38px;
	-webkit-transform-origin: center top;
	-moz-transform-origin: center top;
	-ms-transform-origin: center top;
	-o-transform-origin: center top;
	transform-origin: center top
}
.stage-1-icon-0 .stage-1-icon-top,.stage-1-icon-0 .stage-1-icon-bottom {
	z-index: 8;
	background-image: url(imgs/0.png);
}
.stage-1-icon-1 .stage-1-icon-top,.stage-1-icon-1 .stage-1-icon-bottom {
	z-index: 7;
	background-image: url(imgs/1.png);
}
.stage-1-icon-2 .stage-1-icon-top,.stage-1-icon-2 .stage-1-icon-bottom {
	z-index: 6;
	background-image: url(imgs/2.png);
}
.stage-1-icon-3 .stage-1-icon-top,.stage-1-icon-3 .stage-1-icon-bottom {
	z-index: 5;
	background-image: url(imgs/3.png);
}
.stage-1-icon-4 .stage-1-icon-top,.stage-1-icon-4 .stage-1-icon-bottom {
	z-index: 4;
	background-image: url(imgs/4.png);
}
.stage-1-icon-5 .stage-1-icon-top,.stage-1-icon-5 .stage-1-icon-bottom {
	z-index: 3;
	background-image: url(imgs/5.png);
}
.stage-1-icon-6 .stage-1-icon-top,.stage-1-icon-6 .stage-1-icon-bottom {
	z-index: 2;
	background-image: url(imgs/6.png);
}
.stage-1-icon-7 .stage-1-icon-top,.stage-1-icon-7 .stage-1-icon-bottom {
	z-index: 1;
	background-image: url(imgs/7.png);
}
.stage-1-icon-8 .stage-1-icon-top,.stage-1-icon-8 .stage-1-icon-bottom {
	z-index: 1;
	background-image: url(imgs/8.png);
}
.stage-1-icon-9 .stage-1-icon-top,.stage-1-icon-9 .stage-1-icon-bottom {
	z-index: 1;
	background-image: url(imgs/9.png);
}
#stage-1.stage-state-default {
	z-index: 1
}



#stage-1.stage-state-default .stage-1-icon-bottom {
	-webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(180deg) rotateY(0) rotateZ(0) rotate(0) scale(1);
	-moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(180deg) rotateY(0) rotateZ(0) rotate(0) scale(1);
	-ms-transform: translateX(0) translateY(0) translateZ(0) rotateX(180deg) rotateY(0) rotateZ(0) rotate(0) scale(1);
	-o-transform: translateX(0) translateY(0) translateZ(0) rotateX(180deg) rotateY(0) rotateZ(0) rotate(0) scale(1);
	transform: translateX(0) translateY(0) translateZ(0) rotateX(180deg) rotateY(0) rotateZ(0) rotate(0) scale(1)
}
#stage-1.stage-state-default .stage-1-icon-0 .stage-1-icon-bottom {
	-webkit-transform: translateX(0) translateY(0) translateZ(0) rotateX(0) rotateY(0) rotateZ(0) rotate(0) scale(1);
	-moz-transform: translateX(0) translateY(0) translateZ(0) rotateX(0) rotateY(0) rotateZ(0) rotate(0) scale(1);
	-ms-transform: translateX(0) translateY(0) translateZ(0) rotateX(0) rotateY(0) rotateZ(0) rotate(0) scale(1);
	-o-transform: translateX(0) translateY(0) translateZ(0) rotateX(0) rotateY(0) rotateZ(0) rotate(0) scale(1);
	transform: translateX(0) translateY(0) translateZ(0) rotateX(0) rotateY(0) rotateZ(0) rotate(0) scale(1)
}
/*==========================更改了下面的duration和delay参数*/
#stage-1.stage-state-default .stage-1-icon-0 .stage-1-icon-top {
	-webkit-animation: flipover-top .3s linear 0.14s 1 normal forwards;
	-moz-animation: flipover-top .3s linear 0.14s 1 normal forwards;
	-ms-animation: flipover-top .3s linear 0.14s 1 normal forwards;
	-o-animation: flipover-top .3s linear 0.14s 1 normal forwards;
	animation: flipover-top .3s linear 0.14s 1 normal forwards
}
#stage-1.stage-state-default .stage-1-icon-1 .stage-1-icon-bottom {
	-webkit-animation: flipover-bottom .3s linear 0.14s 1 normal forwards;
	-moz-animation: flipover-bottom .3s linear 0.14s 1 normal forwards;
	-ms-animation: flipover-bottom .3s linear 0.14s 1 normal forwards;
	-o-animation: flipover-bottom .3s linear 0.14s 1 normal forwards;
	animation: flipover-bottom .3s linear 0.14s 1 normal forwards
}
#stage-1.stage-state-default .stage-1-icon-1 .stage-1-icon-top {
	-webkit-animation: flipover-top .35s linear 0.3s 1 normal forwards;
	-moz-animation: flipover-top .35s linear 0.3s 1 normal forwards;
	-ms-animation: flipover-top .35s linear 0.3s 1 normal forwards;
	-o-animation: flipover-top .35s linear 0.3s 1 normal forwards;
	animation: flipover-top .35s linear 0.3s 1 normal forwards
}
#stage-1.stage-state-default .stage-1-icon-2 .stage-1-icon-bottom {
	-webkit-animation: flipover-bottom .35s linear 0.3s 1 normal forwards;
	-moz-animation: flipover-bottom .35s linear 0.3s 1 normal forwards;
	-ms-animation: flipover-bottom .35s linear 0.3s 1 normal forwards;
	-o-animation: flipover-bottom .35s linear 0.3s 1 normal forwards;
	animation: flipover-bottom .35s linear 0.3s 1 normal forwards
}
#stage-1.stage-state-default .stage-1-icon-2 .stage-1-icon-top {
	-webkit-animation: flipover-top .4s linear 0.54s 1 normal forwards;
	-moz-animation: flipover-top .4s linear 0.54s 1 normal forwards;
	-ms-animation: flipover-top .4s linear 0.54s 1 normal forwards;
	-o-animation: flipover-top .4s linear 0.54s 1 normal forwards;
	animation: flipover-top .4s linear 0.54s 1 normal forwards
}
#stage-1.stage-state-default .stage-1-icon-3 .stage-1-icon-bottom {
	-webkit-animation: flipover-bottom .4s linear 0.54s 1 normal forwards;
	-moz-animation: flipover-bottom .4s linear 0.54s 1 normal forwards;
	-ms-animation: flipover-bottom .4s linear 0.54s 1 normal forwards;
	-o-animation: flipover-bottom .4s linear 0.54s 1 normal forwards;
	animation: flipover-bottom .4s linear 0.54s 1 normal forwards
}
#stage-1.stage-state-default .stage-1-icon-3 .stage-1-icon-top {
	-webkit-animation: flipover-top .5s linear 0.78s 1 normal forwards;
	-moz-animation: flipover-top .5s linear 0.78s 1 normal forwards;
	-ms-animation: flipover-top .5s linear 0.78s 1 normal forwards;
	-o-animation: flipover-top .5s linear 0.78s 1 normal forwards;
	animation: flipover-top .5s linear 0.78s 1 normal forwards
}
#stage-1.stage-state-default .stage-1-icon-4 .stage-1-icon-bottom {
	-webkit-animation: flipover-bottom .5s linear 0.78s 1 normal forwards;
	-moz-animation: flipover-bottom .5s linear 0.78s 1 normal forwards;
	-ms-animation: flipover-bottom .5s linear 0.78s 1 normal forwards;
	-o-animation: flipover-bottom .5s linear 0.78s 1 normal forwards;
	animation: flipover-bottom .5s linear 0.78s 1 normal forwards
}
#stage-1.stage-state-default .stage-1-icon-4 .stage-1-icon-top {
	-webkit-animation: flipover-top .6s linear 1.02s 1 normal forwards;
	-moz-animation: flipover-top .6s linear 1.02s 1 normal forwards;
	-ms-animation: flipover-top .6s linear 1.02s 1 normal forwards;
	-o-animation: flipover-top .6s linear 1.02s 1 normal forwards;
	animation: flipover-top .6s linear 1.02s 1 normal forwards
}
#stage-1.stage-state-default .stage-1-icon-5 .stage-1-icon-bottom {
	-webkit-animation: flipover-bottom .6s linear 1.02s 1 normal forwards;
	-moz-animation: flipover-bottom .6s linear 1.02s 1 normal forwards;
	-ms-animation: flipover-bottom .6s linear 1.02s 1 normal forwards;
	-o-animation: flipover-bottom .6s linear 1.02s 1 normal forwards;
	animation: flipover-bottom .6s linear 1.02s 1 normal forwards
}
#stage-1.stage-state-default .stage-1-icon-5 .stage-1-icon-top {
	-webkit-animation: flipover-top .65s linear 1.26s 1 normal forwards;
	-moz-animation: flipover-top .65s linear 1.26s 1 normal forwards;
	-ms-animation: flipover-top .65s linear 1.26s 1 normal forwards;
	-o-animation: flipover-top .65s linear 1.26s 1 normal forwards;
	animation: flipover-top .65s linear 1.26s 1 normal forwards
}
#stage-1.stage-state-default .stage-1-icon-6 .stage-1-icon-bottom {
	-webkit-animation: flipover-bottom .65s linear 1.26s 1 normal forwards;
	-moz-animation: flipover-bottom .65s linear 1.26s 1 normal forwards;
	-ms-animation: flipover-bottom .65s linear 1.26s 1 normal forwards;
	-o-animation: flipover-bottom .65s linear 1.26s 1 normal forwards;
	animation: flipover-bottom .65s linear 1.26s 1 normal forwards
}
#stage-1.stage-state-default .stage-1-icon-6 .stage-1-icon-top {
	-webkit-animation: flipover-top .75s linear 1.5s 1 normal forwards;
	-moz-animation: flipover-top .75s linear 1.5s 1 normal forwards;
	-ms-animation: flipover-top .75s linear 1.5s 1 normal forwards;
	-o-animation: flipover-top .75s linear 1.5s 1 normal forwards;
	animation: flipover-top .75s linear 1.5s 1 normal forwards
}
#stage-1.stage-state-default .stage-1-icon-7 .stage-1-icon-bottom {
	-webkit-animation: flipover-bottom .75s linear 1.5s 1 normal forwards;
	-moz-animation: flipover-bottom .75s linear 1.5s 1 normal forwards;
	-ms-animation: flipover-bottom .75s linear 1.5s 1 normal forwards;
	-o-animation: flipover-bottom .75s linear 1.5s 1 normal forwards;
	animation: flipover-bottom .75s linear 1.5s 1 normal forwards
}
#stage-1.stage-state-default .stage-1-icon-7 .stage-1-icon-top {
	-webkit-animation: flipover-top .75s linear 1.74s 1 normal forwards;
	-moz-animation: flipover-top .75s linear 1.74s 1 normal forwards;
	-ms-animation: flipover-top .75s linear 1.74s 1 normal forwards;
	-o-animation: flipover-top .75s linear 1.74s 1 normal forwards;
	animation: flipover-top .75s linear 1.74s 1 normal forwards
}
#stage-1.stage-state-default .stage-1-icon-8 .stage-1-icon-bottom {
	-webkit-animation: flipover-bottom .75s linear 1.74s 1 normal forwards;
	-moz-animation: flipover-bottom .75s linear 1.74s 1 normal forwards;
	-ms-animation: flipover-bottom .75s linear 1.74s 1 normal forwards;
	-o-animation: flipover-bottom .75s linear 1.74s 1 normal forwards;
	animation: flipover-bottom .75s linear 1.74s 1 normal forwards
}
#stage-1.stage-state-default .stage-1-icon-8 .stage-1-icon-top {
	-webkit-animation: flipover-top .75s linear 1.98s 1 normal forwards;
	-moz-animation: flipover-top .75s linear 1.98s 1 normal forwards;
	-ms-animation: flipover-top .75s linear 1.98s 1 normal forwards;
	-o-animation: flipover-top .75s linear 1.98s 1 normal forwards;
	animation: flipover-top .75s linear 1.98s 1 normal forwards
}
#stage-1.stage-state-default .stage-1-icon-9 .stage-1-icon-bottom {
	-webkit-animation: flipover-bottom .75s linear 1.98s 1 normal forwards;
	-moz-animation: flipover-bottom .75s linear 1.98s 1 normal forwards;
	-ms-animation: flipover-bottom .75s linear 1.98s 1 normal forwards;
	-o-animation: flipover-bottom .75s linear 1.98s 1 normal forwards;
	animation: flipover-bottom .75s linear 1.98s 1 normal forwards
}


/*===============清除最后的翻转=====每个最后的li添加class"stage-1-icon-none"========*/
#stage-1.stage-state-default .stage-1-icon-none .stage-1-icon-top {
	-webkit-animation: none;
	-moz-animation: none;
	-ms-animation: none;
	-o-animation: none;
	animation: none;
}